/*///////////////////////////////////////////////////////////////////////*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
/*@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);*/
@import url(https://fonts.googleapis.com/css?family=Lato:700);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lora);

/*///////////////////////////////////////////////////////////////////////*/
@import "./bootstrap.min.css";

/*///////////////////////////////////////////////////////////////////////*/
html,body {
    /*font-family:'Open Sans', arial, sans-serif;*/
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Lora', serif;
    height:100%;
    color:#6f6f6f;
}

.container {
    max-width:800px;
}

a, a:hover {
    color:#c07b02;
}

/*///////////////////////////////////////////////////////////////////////*/
header {
    width:100%;
    margin: 0px auto 30px auto;
    text-align: left;
    border-bottom: 0px solid #000;
    border-top: 0px solid #000;
    padding:20px 0 35px 0;
}

header h1 {
    font-size:4em;
    font-weight: bold;
    /*font-family: 'Droid Serif', serif, arial, sans-serif;*/
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

header nav {
    font-family: 'Droid Serif', serif, arial, sans-serif;
    text-transform: capitalize;
    font-size:1.3em;
}

header nav a.active {
    color:red;
    text-decoration: none;
}

header nav ul {
    margin:0;
    padding:0;
}

header nav li {
    list-style: none;
    padding:0 0px;
    border-right: 0px solid #000;
    font-size:1.3em;
    line-height: 1.3em;
}

header nav li:last-child {
    border:none;
}

footer {
    clear:both;
    margin-top:80px;
    border-top: 1px solid #ddd;
    padding:15px 0 10px;
}

/*///////////////////////////////////////////////////////////////////////*/
.hot {
    margin:40px 0;
    font-size:1.5em;
    padding:10px 0;
    text-align: justify;
}

img {
    max-width: 100%;
}

.debug {
    margin:0 auto;
    background-color: #ccc;
    padding:10px;
    position:fixed;
    bottom:0;
    width:100%;
    opacity: 0.7;
}

h1, h2, h3 {
    font-family: 'Droid Serif', serif, arial, sans-serif;
}

/*///////////////////////////////////////////////////////////////////////*/
.index-photo {
    /*float:left;*/
    max-width:120px;
    margin:20px 0;
}

.bibliotheque img {
    float:left;
    margin:0 20px 20px 5px;
    width:200px;
    /*border-bottom:10px solid #6f6f6f;*/
    /*border-right:10px solid #6f6f6f;*/
    box-shadow: -10px 10px 0px #ddd;
}

.intro {
    margin-bottom:40px;
}

.bibliotheque h2 {
    font-weight: bold;
    /*font-family: 'Droid Serif', serif, arial, sans-serif;*/
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border-top:0px solid #000;
    padding-top:10px;
    margin-top:40px;
}

.bibliotheque hr {
    clear:both;
    visibility: hidden;
}

@media only screen and (max-width: 500px) {
    .bibliotheque img {
        width:100%;
        box-shadow: none;
        margin:0 20px 20px 0px;
    }   
}